<widget
    xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	id="com.SMMP.client" version="2.0.30" versionCode="">
	<name>BPM</name>
	<description>SMMP BPM</description>
	<author email="ITservice@smmpwt.com.cn" href="http://http://www.smmpwt.com.cn/">ITservice</author>
	<preference name="phonegap-version" value="cli-9.0.0" />
	<preference name="permissions" value="none" />

	<preference name="SplashMaintainAspectRatio" value="true" />
	<preference name="FadeSplashScreen" value="true" />
	<preference name="FadeSplashScreenDuration" value="300" />
	<preference name="SplashShowOnlyFirstTime" value="false" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="BackgroundColor" value="#2E2E2E" />

	<preference name="orientation" value="default" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#2E2E2E" />
	<preference name="StatusBarCropsWebview" value="false" />

	<access origin="*" />
	<!--<plugin spec="http://github.com/don/cordova-filechooser.git" source="git" />-->
	<plugin name="cordova-plugin-splashscreen"/>
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-ios-longpress-fix" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-camera"  />
	<plugin name="cordova-plugin-device" />
	<!--<plugin name="phonegap-plugin-barcodescanner" />-->
	<plugin name="cordova-plugin-barcodescanner" />
	<plugin name="jpush-phonegap-plugin">
		<param name="APP_KEY" value="7e99acf0597033d0d2407f8a" />
		<variable name="APP_KEY" value="7e99acf0597033d0d2407f8a" />
	</plugin>
	<plugin name="cordova-plugin-app-version" />
	<plugin name="cordova-plugin-inappbrowser"  />

	<icon src="res/icon/icon.png" />
	<platform name="ios">
		<icon src="res/icon/ios/icon-1024.png" platform="ios" width="1024" height="1024" />
		<!-- iPhone 6 / 6+ -->
		<icon src="res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

		<!-- iPhone / iPod Touch  -->
		<icon src="res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
		<icon src="res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

		<!-- iPad -->
		<icon src="res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
		<icon src="res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
		<icon src="res/icon/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

		<!-- Settings Icon -->
		<icon src="res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
		<icon src="res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
		<icon src="res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87" />

		<!-- Spotlight Icon -->
		<icon src="res/icon/ios/icon-40.png" platform="ios" width="40" height="40" />
		<icon src="res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
		<icon src="res/icon/ios/icon-40@3x.png" platform="ios" width="120" height="120" />


		<splash src="res/screen/ios/Default@2x~universal~anyany.png" />
		<!--<splash src="res/screen/ios/Default@2x~universal~comany.png" />
	  <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
	  <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
	  <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
	  <splash src="res/screen/ios/Default@3x~universal~comany.png" />-->

		<preference name="prerendered-icon" value="false" />
		<config-file overwrite="true" parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
			<string>APP将通过摄像头扫描二维码，以及让用户拍摄照片上传</string>
		</config-file>
		<config-file overwrite="true" parent="NSPhotoLibraryUsageDescription" platform="ios" target="*-Info.plist">
			<string>APP将让用户选择照片上传系统</string>
		</config-file>
		<config-file overwrite="true" parent="NSPhotoLibraryAddUsageDescription" platform="ios" target="*-Info.plist">
			<string>APP将让用户选择照片上传系统</string>
		</config-file>
		<config-file overwrite="true" parent="NSLocationAlwaysUsageDescription" platform="ios" target="*-Info.plist">
			<string>APP将获取用户的当前地理位置</string>
		</config-file>
		<config-file overwrite="true" parent="CFBundleIdentifier" platform="ios" target="*-Info.plist">
			<string>com.SMMP.client</string>
		</config-file>
	</platform>
	<platform name="android">
		<icon src="res/icon/android/ldpi.png" platform="android" qualifier="ldpi" />
		<icon src="res/icon/android/mdpi.png" platform="android" qualifier="mdpi" />
		<icon src="res/icon/android/hdpi.png" platform="android" qualifier="hdpi" />
		<icon src="res/icon/android/xhdpi.png" platform="android" qualifier="xhdpi" />
		<icon src="res/icon/android/xxhdpi.png" platform="android" qualifier="xxhdpi" />

		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
		<splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi"/>

		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
		<splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>

		<preference name="android-windowSoftInputMode" value="adjustResize" />
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
		  <application android:usesCleartextTraffic="true" />
		</edit-config>
	</platform>

	<allow-navigation href="*" />
	<allow-intent href="*" />
</widget>